H1 {
    text-align: center;
}

.div-detail {
    padding: 1em;
    background-color: #D5DBDB;
    width: 45%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 11px 8px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 11px 8px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 8px 5px 0px rgba(0,0,0,0.75);
    img {
        width: 30em;
        height: 25em;
    }
}