<h1>Formulaire de modification</h1>
<div class="container">
    <form *ngIf="voiture" (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="bloc">
            <label>Libelle</label><br>
            <input id="libelle" type="text" required [(ngModel)]="voiture.libelle" name="libelle" #libelle="ngModel"> 
        </div>
        <div class="bloc">
            <label>Description</label><br>
            <textarea rows="5" cols="33" required [(ngModel)]="voiture.description" name="description" #description="ngModel"></textarea>
        </div>
        <div class="bloc">
            <label>Prix</label><br>
            <input id="prix" type="number" required [(ngModel)]="voiture.prix" name="prix" #prix="ngModel"> 
        </div>
        <div class="bloc">
            <label>Image</label><br>
            <input id="image" type="text" required [(ngModel)]="voiture.image" name="image" #image="ngModel"> 
        </div>
        <p-button type="submit" (click)="onSubmit()" label="Enregistrer" icon="pi pi-check" iconPos="right" [disabled]="!form.valid"></p-button>
    </form>
</div>