<div class="container">
    <h1>BIENVENUE DANS NOTRE SITE</h1>

    <p class="border-div">
        Bienvenue dans notre site<br>
        Nous somme des experts qualifiés dans la vente de voitures<br>
        Nous proposons des voitures de qualités et en trés bonne état<br>
        Chez nous le client est roi
    </p>
    <img src="https://cdn.motor1.com/images/mgl/zxp08b/s3/m1---modeles-menaces.jpg"/>

    <p class="border-div">
        En Nouvelle-Calédonie, vous avez le choix<br>
        Vous pouvez trouver tout ce dont vous avez besoins<br>
        On est ouvert tout les jours de 7h à 17h<br>
        N'hésitez pas à nous contacter par mail à l'adresse suivante : carnc@gmail.com
    </p>

    <img src="https://cricksapi.s3.ap-southeast-2.amazonaws.com/photo/695977/photo/medium-e160ade46446f0f8a37474cf73f04c9f.jpg"/>
</div>
